@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

main{
    height: fit-content;
    min-height: 616px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#reportform{
    margin: 0 auto;
    width: 90%;
}

.reports > *, .demo, .choices, .report{
    background-color: #aaaaaabb;
    color: #222;
    width: 95%;
    margin-top: 2em;
    padding: 2em;
    height: 80%;
    min-height: fit-content;
    border-radius: 1em;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(150, 150, 150, 0.25);
    backdrop-filter: blur(2px); 
}

.demo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(30px, auto);
    column-gap: minmax(1em, auto);
    row-gap: 2em;
}

.demo input:not(input[type="checkbox"]), .demo select{
    width: 90%;
    border-radius: 0.3em;
    border: 0.5px solid #222;
}

.demo input, .demo select{
    text-align: center;
}

.choices{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(10px, auto);
}

.choices>input[type='checkbox']{
    height: 1.5em;
    text-align: left;
}

.reports > * {
    display: none;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-auto-rows: minmax(30px, auto);
    column-gap: 3em;
    row-gap: 1em;
}

.data_input{
    text-align: center;
    width: 35%;
}